<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarWorkshopManagementSystem.Properties.Settings.CarWorkshopManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-OJFKR3C\SQLEXPRESS;Initial Catalog=CarWorkshopManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>